- if entity.variables.size.positive?
  %span.badge.badge-alt #{pluralize entity.variables.size, 'variable'}

- if entity.roles.size.positive?
  %span.badge.badge-alt #{pluralize entity.roles.size, 'role'}
