.container
  %h1= @scenario.name
  .row
    .col-md-6
      %h2 Inputs
      %p These are values we supply into the calculation
      = render 'inputs'
    .col-md-6
      %h2 Expected Outputs
      %p These are the results we expect from the calculation
      = render 'outputs'
