@import "variables";

.badge {
  font-size: .6875rem;
  font-weight: bold;
  color: $white;
  border-radius: .9375rem;
  padding: .2rem .5rem;
  background: $secondary-color;
  margin-bottom: .125rem;
  display: inline-block;

  > a {
    &:hover {
      background: transparent;
    }
  }

  &-primary {
    background: $badge-primary;
  }

  &-secondary {
    background: darken($grey, 40%);
  }

  &-success {
    background: $badge-success;
  }
}
