@import "variables";

.badge {
  background: $secondary-color;
  border-radius: 0.9375rem;
  color: $white;
  display: inline-block;
  font-size: 0.6875rem;
  font-weight: bold;
  margin-bottom: 0.125rem;
  padding: 0.2rem 0.5rem;

  > a {
    &:hover {
      background: transparent;
    }
  }

  &-primary {
    background: $badge-primary;
  }

  &-secondary {
    background: darken($grey, 40%);
  }

  &-success {
    background: $badge-success;
  }

  &-warning {
    background: $badge-warning;
  }

  &-info {
    background: $badge-info;
  }

  &-dark {
    background: $badge-dark;
  }

  @media (min-width:768px) {
    &--inline {
      vertical-align: super;
      margin-left: 1rem;
    }
  }
}
