@import "variables";

.btn-nav {
  padding: 2.5rem 0;
  text-align: center;

  @media (min-width: 768px) {
    padding: 3rem 0;
  }

  .btn {
    width: 100%;
    margin-bottom: .5rem;

    @media (min-width: 768px) {
      width: auto;

      &:first-child {
        margin-right: 2rem;
      }

      &:last-child {
        margin-left: 2rem;
      }
    }
  }
}

.btn,
.btn > a {
  display: inline-block;
  padding: .7rem 1rem;
  border: .3125rem solid $primary-color;
  background: $white;
  color: $primary-color;
  font-weight: bold;
  box-shadow: 0 0 .3125rem rgba($primary-color, .5);
  border-radius: 0;
  font-size: $button-font-size;
  text-decoration: none;
  text-align: center;

  &:visited {
    color: $primary-color;
  }

  &:hover {
    background: $primary-color;
    color: $white;
    border: .3125rem solid transparent;
    text-decoration: none;
  }
}
