@import "variables";

.filter {
  &-select {
    background: $white;
    display: inline-block;
    border-radius: $border-radius;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 3px solid transparent;
    color: $badge-primary;

    &:hover {
      border: 3px solid $badge-primary;
      text-decoration: none;
      background: $badge-primary;
      color: $white;
    }

    &:visited {
      color: $badge-primary;

      &:hover {
        color: $white;
      }
    }
  }
}
