@import 'variables';

.filter {
  &-select {
    background: $white;
    display: inline-block;
    border-radius: $border-radius;
    padding: .3125rem .625rem;
    margin-bottom: .3125rem;
    margin-right: .3125rem;
    border: .1875rem solid transparent;
    color: $badge-primary;

    &:hover {
      border: .1875rem solid $badge-primary;
      text-decoration: none;
      background: $badge-primary;
      color: $white;
    }

    &:visited {
      color: $badge-primary;

      &:hover {
        color: $white;
      }
    }
  }
}
