@import "variables";

.header {
  background: $secondary-color;
  padding: 1.5rem 0 2rem 0;
  border-bottom: .625rem solid $primary-color;

  @media (min-width: 768px) {
    padding: 3rem 0;
  }

}

.hero {
  border: 5px solid $primary-color;
  border-radius: $border-radius;
  background: $white;
  box-shadow: 0 0 .625rem $primary-color;
  padding: 1.5rem 1.5rem 1rem;
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    padding: 2rem 4rem;
    margin: 0 5rem;
    margin-bottom: 2rem;
  }

  > h1 {
    font-weight: bold;
    color: $primary-color;
    font-size: 1.5625rem;
  }

  > p {
    color: $sub-heading;
    font-weight: bold;
  }
}

.header-secondary {
  border-radius: $border-radius;
  background: $white;
  padding: 2rem;
  box-shadow: 0 0 20px rgba($primary-color, .7);
  text-align: center;

  @media (min-width: 768px) {
    padding: 2rem 3rem;
    margin: 0 8rem;
  }

  @media (min-width: 1024px) {
    padding: 2rem 3rem;
    margin: 0 12rem;
  }

  > h2 {
    color: $primary-color;
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }
}

.sub-header {
  background: $secondary-color;
  overflow: auto;
  padding: 1rem 0;

  @media (min-width: 768px) {
    padding: 2.5rem 0;
  }

  h1 {
    border: .3125rem solid $primary-color;
    border-radius: $border-radius;
    padding: .75rem 1.5rem;
    background: $white;
    width: auto;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    color: $primary-color;
  }
}
