@import 'variables';

body {
  margin: 0;
}

main {
  background-color: $grey;
  padding-bottom: 2rem;
}

a {
  &:visited {
    color: $primary-color;
  }

  &:hover {
    background: transparent;
  }
}

footer {
  background: $secondary-color;
  padding: 1rem;
}
