@import "variables";

body {
  margin: 0;
  word-wrap: break-word;
}

main {
  background-color: $grey;
  padding-bottom: 2rem;

  p { font-size: .75rem; }
}

a {
  &:visited {
    color: $primary-color;
  }

  &:hover {
    background: transparent;
  }
}

footer {
  background: $secondary-color;
  padding: 1rem;

  a {
    border-bottom: 1px solid $primary-color;
    color: $primary-color;

    &:hover { text-decoration: none; }

    &.img { border: 0; }
  }

  p { margin-bottom: 0; }
}

.logo {
  height: 80px;

  @media (min-width: 1024px) {
    height: 80px;
    position: absolute;
    right: 40px;
    top: 25px;
  }
}
