@import "variables";

$primary-border: .0625rem solid $primary-color;

.side-nav {
  margin: 2rem 0;
  margin-left: 1rem;

  &:first-child {
    border-top: $primary-border;
  }

  a {
    border-bottom: $primary-border;
    display: block;
    padding: .5rem;
    font-weight: bold;

    &:hover {
      background: $primary-color;
      color: $white;
      text-decoration: none;
    }
  }
}
