@import "variables";

.section {
  background: $white;
  box-shadow: 0 0.125rem 0.3125rem rgba(darken($grey, 10%), 0.9);
  margin-top: 1.95rem;
  padding: 1.75rem 2rem;

  .heading {
    color: $primary-color;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .heading-secondary {
    color: $secondary-heading;
    font-size: 1.625rem;
    font-weight: bold;
    margin-bottom: 3rem;
    margin-top: 0;
  }
}

.section--inner-content {
  margin: 30px 20px;

  footer {
    background: transparent;
    margin: 30 0 0 0;
    padding: 0;
  }
}
