@import 'variables';

.section {
  background: $white;
  box-shadow: 0 .125rem .3125rem rgba(darken($grey, 10%), .9);
  margin-top: 1.95rem;
  padding: 1.75rem 2rem;

  .heading {
    color: $primary-color;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .heading-secondary {
    color: $secondary-heading;
    font-weight: bold;
    margin-top: 0;
    font-size: 1.625rem;
    margin-bottom: 3rem;
  }
}
