$primary-color: #0006A7;
$secondary-color: rgb(119, 190, 253);

$grey: rgb(231, 233, 235);
$white: #fff;

$border-radius: .1875rem;
$button-font-size: 1.125rem;

$sub-heading: rgb(105, 122, 255);
$secondary-heading: #697aff;

$badge-primary: #007bff;
$badge-success: #4acc32;
$badge-warning: #ffa705;
$badge-info: #17a2b8;
