%header.header
  .container
    .hero
      %h1 Rapu Ture - Exploring the Rules
      %p= t :variables_explanation
      = image_tag('beehive.svg', alt: 'A scalable vector image of the New Zealand Government Beehive', class: 'logo')

    .header-secondary
      %h2 Rapu Ture is an API library that lets you explore and call legislative rules.
      = link_to '/about', class: 'btn btn-primary btn-lg', role: 'button' do
        Learn more

