.jumbotron
  %h1.display-4 Rapu Ture - Exploring the Rules
  %p.lead= t :variables_explanation
  = link_to 'https://www.digital.govt.nz/blog/global-coverage-of-our-legislation-as-code-work/', class: 'btn btn-primary btn-lg', role: 'button' do
    Learn more