%header.header
  .container
    .hero
      %h1 Rapu Ture - Exploring the Rules
      %p= t :variables_explanation

    .header-secondary
      %h2 Rapu Ture is an API library that lets you explore and call legislative rules.
      = link_to 'https://www.digital.govt.nz/blog/global-coverage-of-our-legislation-as-code-work/', class: 'btn btn-primary btn-lg', role: 'button' do
        Learn more

