- values.each do |val|
  .card-body
    %ul.list-unstyled
      - val.each do |key, value|
        %li= key.to_s.capitalize
        %ul
          - unless value.nil?
            - value.each do |k, v|
              %li= k
              %ul
                %li
                  - v.each do |v|
                    = v.last
