- brackets.each do |bracket|
  %ul.list-group.list-group-flush
    %li.list-group-item

      - bracket.each do |key, value|
        %h5= key
        - value.each do |k, v|
          = k
          = v
