.container
  .card-columns
    - @parameters.each do |parameter|
      .card
        .card-body
          %h5.card-title= link_to filename_to_title(parameter.filename), parameter
          .badge.badge-primary= name_of_act(parameter.filename)
